<%= simple_form_for @page, url: url = (@page.new_record?) ? admin_pages_path : admin_page_path(@page) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <h3>Contenu</h3>
    <%= f.input :main_gallery_id, collection: Gallery.global.collect { |s| [s.name, s.id] }, selected: @page.main_gallery_id, include_blank: true, input_html: { multiple: false, class: "select2" } if Gallery.global.size > 0  %>
    <%= content_tag :em, "Aucune galerie “Général“ n'est disponible.<br />Pour ajouter une galerie à une page, il faut au préalable la créer (choisir la catégorie “Géneral”).<br /><br />".html_safe  if Gallery.global.size == 0 %>
    <%= f.input :resource_id, as: :select do  %>
      <select class="form-control select optional select2" data-remote="<%= s2_resources_path(scope: 'global') %>" name="page[resource_id]" id="page_resource_id">
        <!-- <option value="">À défaut de galerie principale, choisir une image</option> -->
        <%= content_tag :option, @page.resource.name || @page.resource.handle_identifier, {value: @page.resource.id, selected: true, data: {img: @page.resource.thumb_url}} if @page.resource.present? %>
      </select>
    <% end %>
    <%= f.input :title %>
    <%= f.input :subtitle %>
    <%= f.input :content, input_html: { data: { ckeditor: 'custom_config_page' }} %>
    <%= f.input :final_gallery_id, collection: Gallery.global.collect { |s| [s.name, s.id] }, selected: @page.final_gallery_id, include_blank: true, input_html: { multiple: false, class: "select2" } if Gallery.global.size > 0  %>
    <hr />
    <h3>Infos. complémentaires</h3>
    <%= f.input :exergue, input_html: { data: { ckeditor: 'custom_config_exergue' }} %>
    <h4>Liens Complémentaires</h4>
    <p class="help">
      <em>Pour les liens, il faut préciser le titre du lien et son objet séparé d'un “>”. Par exemple :</em>
<pre>Mentions légales > Page:4
Le menu > Fichier:8
Les news d'avril > Article:45
Une page fixe > /url-de-ma-page
La Villette > https://lavillette.com/</pre>
    </p>
    <%= f.input :aside_link_1_data %>
    <%= f.input :aside_link_2_data %>
    <%= f.input :aside_link_3_data %>
    <h4>Bloc de partage</h4>
    <%= f.input :social_block %>
    <%= f.input :event_link_data %>
    <%= f.input :info_link_data %>
    <hr />
    <h3>Réglages</h3>
    <%= f.input :retargeting_pixel_id %>
    <%= f.input :user_id, collection: @users.collect { |u| [u.real_name, u.id] }, include_blank: false if @users.present? %>
    <%= f.input :slug %>
    <%= f.input :status, collection: Page.statuses.collect { |s| [t("page.statuses.#{s.first}"), s.first] }, include_blank: false %>
  </div>
  <hr />
  <div class="form-actions">
    <%= link_to 'Annuler', url, class: 'btn btn-default' %>
    <%= f.button :submit, 'Enregistrer' %>
  </div>
<% end %>
