<table class="sortable" data-order='[[3  , "desc"]]'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Titre</th>
      <th>Résumé</th>
      <th>Illustration<br />principale</th>
      <th>Url</th>
      <th>Création</th>
      <th>Mise à jour</th>
      <th>Utilisateur</th>
      <th>Statut</th>
      <th data-orderable="false"></th>
    </tr>
  </thead>

  <tbody>
    <% pages.each do |page| %>
      <tr>
        <td><span class="badge"><%= page.id %></span></td>
        <td><%= page.title %></td>
        <td><%= page.digest %></td>
        <td><span class="preview" style="background-image: url('<%= page.main_picture.thumb_url %>')"></span></td>
        <td><%= link_to "/#{page.slug}", page_path(page.slug), target: :_blank %></td>
        <td><%= l page.created_at, format: :sortable %></td>
        <td><%= l page.updated_at, format: :sortable %></td>
        <td><%= page.user.real_name %></td>
        <td><%= t("page.statuses.#{page.status}") %></td>
        <td class="action">
          <%= link_to '<i class="fa fa-eye"></i>'.html_safe, admin_page_path(page), title: "Détails" if can? :read, page %>
          <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_admin_page_path(page), title: "Éditer" if can? :edit, page %>
          <%= link_to '<i class="fa fa-trash"></i>'.html_safe,  admin_page_path(page), method: :delete, data: { confirm: 'Cette action est irréversible, êtes vous sur ?' }, title: "Supprimer" if can? :delete, page %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>