<%= simple_form_for @event, url: url = (@event.new_record?) ? admin_events_path : admin_event_path(@event), html: { class: 'collapsable' } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <h3 class="collapsed" data-toggle="collapse" data-target="#content">Contenu</h3>
    <div class="collapse" id="content">
        <%= f.input :main_gallery_id, collection: Gallery.event.collect { |s| [s.name, s.id] }, selected: @event.main_gallery_id, include_blank: true, input_html: { multiple: false, class: "select2" } if Gallery.event.size > 0  %>
        <%= content_tag :em, "Aucune galerie “Évènement“ n'est disponible.<br />Pour ajouter une galerie à un évènemnt, il faut au préalable la créer (choisir la catégorie “Évènement“).<br /><br />".html_safe  if Gallery.event.size == 0 %>
        <%= f.input :resource_id, as: :select, wrapper_html: { class: 'test' } do  %>
          <select class="form-control select optional select2" data-template="image" name="event[resource_id]" id="event_resource_id">
            <option value="">À défaut de galerie principale, choisir une image</option>
            <% Resource.global.each do |resource| %>
              <%= content_tag :option, resource.name || resource.handle_identifier, {value: resource.id, selected: (resource.id == @event.resource_id) ? true : nil, data: {img: resource.thumb_url}} %>
            <% end %>
          </select>
        <% end %>
        <%= f.input :topic %>
        <%= f.input :title %>
        <%= f.input :subtitle %>
        <%= f.input :content, input_html: { data: { ckeditor: 'custom_config_page' }} %>
        <%= f.input :final_gallery_id, collection: Gallery.event.collect { |s| [s.name, s.id] }, selected: @event.final_gallery_id, include_blank: true, input_html: { multiple: false, class: "select2" } if Gallery.event.size > 0  %>
    </div>
    <hr />
    <h3 class="collapsed" data-toggle="collapse" data-target="#editorial_params">Paramètres éditoraux</h3>
    <div class="collapse" id="editorial_params">
        <%= f.input :focus_id, collection: Focus.all.collect { |s| [s.title, s.id] }, selected: @event.focus_id, include_blank: true, input_html: { multiple: false, class: "select2" } if Focus.all.size > 0  %>
        <%= f.input :category, collection: Event.categories.collect { |s| [t("event.categories.#{s.first}"), s.first] }, include_blank: false %>
        <%= f.input :weez_event_id, collection: WeezEvent.all.collect { |s| [s.title, s.id] }, selected: @event.weez_event_id, include_blank: true, input_html: { multiple: false, class: "select2" } if WeezEvent.all.size > 0  %>
        <%= f.input :new_artist_ids, collection: Artist.all.collect { |s| [s.name, s.id] }, selected: @event.artist_ids, include_blank: false, input_html: { multiple: true, class: "select2" } if Artist.all.size > 0  %>
        <%= f.input :new_partner_ids, collection: Partner.all.collect { |s| [s.name, s.id] }, selected: @event.partner_ids, include_blank: false, input_html: { multiple: true, class: "select2" } if Partner.all.size > 0  %>
    </div>
    <hr />
    <h3 class="collapsed" data-toggle="collapse" data-target="#aside_info">Infos. complémentaires</h3>
    <div class="collapse" id="aside_info">
        <%= f.input :exergue, input_html: { data: { ckeditor: 'custom_config_exergue' }} %>
        <h4>Liens Complémentaires</h4>
        <p class="help">
          <em>Pour les liens, il faut préciser le titre du lien et son objet séparé d'un “>”. Par exemple :</em>
<pre>Mentions légales > Page:4
Le menu > Fichier:8
Les news d'avril > Article:45
Une page fixe > /url-de-ma-page
La Villette > https://lavillette.com/</pre>
        </p>
        <%= f.input :aside_link_1_data %>
        <%= f.input :aside_link_2_data %>
        <h4>Bloc de partage</h4>
        <%= f.input :social_block %>
        <%= f.input :event_link_data %>
        <%= f.input :info_link_data %>
    </div>
    <hr />
    <h3 class="collapsed" data-toggle="collapse" data-target="#settings">Réglages</h3>
    <div class="collapse" id="settings">
        <%= f.input :retargeting_pixel_id %>
        <%= f.input :user_id, collection: @users.collect { |u| [u.real_name, u.id] }, include_blank: false if @users.present? %>
        <%= f.input :title_slug, hint: "La partie Date est générée et mise à jour automatiquement à partir de la date/heure de début, selon le format “2017-12-31”." %>
        <%= f.input :published_at %>
        <%= f.input :status, collection: Event.statuses.collect { |s| [t("event.statuses.#{s.first}"), s.first] }, include_blank: false %>
    </div>
  </div>
  <hr />
  <div class="form-actions">
    <%= link_to 'Annuler', url, class: 'btn btn-default' %>
    <%= f.button :submit, 'Enregistrer' %>
  </div>
<% end %>
