<% hide_sorting_tools ||= false %>
<table class="<%= hide_sorting_tools ? '' : 'sortable' %>" data-order='[[3  , "desc"]]'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Titre</th>
      <th>Résumé</th>
      <th>Illustration<br />principale</th>
      <th>Url</th>
      <th>Création</th>
      <th>Mise à jour</th>
      <th>Utilisateur</th>
      <th>Statut</th>
      <th data-orderable="false"></th>
    </tr>
  </thead>

  <tbody>
    <% events.each do |event| %>
      <tr>
        <td><span class="badge"><%= event.id %></span></td>
        <td><%= event.title %></td>
        <td><%= event.digest %></td>
        <td><span class="preview" style="background-image: url('<%= event.main_picture.thumb_url %>')"></span></td>
        <td><%= link_to event.slug, event.slug, target: :_blank %></td>
        <td><%= l event.created_at, format: :sortable %></td>
        <td><%= l event.updated_at, format: :sortable %></td>
        <td><%= event.user.real_name %></td>
        <td><%= t("event.statuses.#{event.status}") %></td>
        <td class="action">
          <%= link_to '<i class="fa fa-eye"></i>'.html_safe, admin_event_path(event), title: "Détails" if can? :read, event %>
          <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_admin_event_path(event), title: "Éditer" if can? :edit, event %>
          <%= link_to '<i class="fa fa-trash"></i>'.html_safe,  admin_event_path(event), method: :delete, data: { confirm: 'Cette action est irréversible, êtes vous sur ?' }, title: "Supprimer" if can? :delete, event %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>