<% hide_sorting_tools ||= false %>
<table class="<%= hide_sorting_tools ? '' : 'sortable' %>" data-order='[[4  , "desc"]]'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Titre</th>
      <th>Résumé</th>
      <th>Illustration<br />principale</th>
      <th>Publication</th>
      <th>Date<br />Début</th>
      <th>Date<br />Fin</th>
      <th>Date Affichée</th>
      <th>Url</th>
      <th>Mise à jour</th>
      <th>Utilisateur</th>
      <th>Statut</th>
      <th data-orderable="false" class="action">WeezEvent</th>
      <th data-orderable="false" class="action"></th>
    </tr>
  </thead>

  <tbody>
    <% events.each do |event| %>
      <tr>
        <td><span class="badge"><%= event.id %></span></td>
        <td><%= event.title %></td>
        <td><%= event.digest %></td>
        <td><% if event.main_picture.present? %><span class="preview" style="background-image: url('<%= event.main_picture.thumb_url %>')"></span><% end %></td>
        <td><%= l event.published_at, format: :sortable if event.published_at.present? %></td>
        <td><%= l event.start_time, format: :sortable if event.start_time.present? %></td>
        <td><%= l event.end_time, format: :sortable if event.end_time.present? %></td>
        <td><%= event.display_date %></td>
        <td><%= link_to event.path, event.path, target: :_blank %></td>
        <td><%= l event.updated_at, format: :sortable %></td>
        <td><%= event.user.real_name %></td>
        <td><%= t("event.statuses.#{event.status}") %></td>
        <td class="action">
        <% if event.weez_event.present? %>
          <%= link_to "<i class=\"fa fa-ticket\" aria-hidden=\"true\"></i>".html_safe, event.weez_event.mini_site, target: :_blank, title: "Mini-Site WeezEvent" %>
          <%= link_to "<i class=\"fa fa-sliders\" aria-hidden=\"true\"></i>".html_safe, "https://www.weezevent.com/bo/tableau_bord_accueil.php?id_evenement=#{event.weez_event.wid}", target: :_blank, title: "Back Office WeezEvent" %>
        <% end %>
          &nbsp;
        </td>
        <td class="action">
          <%= link_to '<i class="fa fa-eye"></i>'.html_safe, admin_event_path(event), title: "Détails" if can? :read, event %>
          <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_admin_event_path(event), title: "Éditer" if can? :edit, event %>
          <%= link_to '<i class="fa fa-trash"></i>'.html_safe,  admin_event_path(event), method: :delete, data: { confirm: 'Cette action est irréversible, êtes vous sur ?' }, title: "Supprimer" if can? :delete, event %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>