<h2>
  <nav>
    <%= link_to '<i class="fa fa-eye-slash"></i>'.html_safe, @event.slug, target: :_blank, title: "Voir la page en ligne" %>
    <%= link_to '<i class="fa fa-pencil-square"></i>'.html_safe, edit_admin_event_path(@event), title: "Éditer" %>
    <%= link_to '<i class="fa fa-th-list"></i>'.html_safe, admin_events_path, title: "Retour à la liste" %>
  </nav>
  <span class="id"><%= @event.id %></span> Évènement <em><%= @event.title %></em>
</h2>
<dl class="dl-horizontal borderd-list">
<% @event.attributes.each do |k,v| %>
  <% if k == 'user_id' %>
    <dt><%= t "event.#{k}" %></dt>
    <dd><%= @event.user.real_name %></dd>
  <% elsif @event.defined_enums? and k.in? @event.defined_enums %>
    <dt><%= t "event.#{k}" %></dt>
    <dd><%= t "event.#{k.pluralize}.#{v}" %></dd>
  <% elsif v.class.in? [ NilClass, TrueClass, FalseClass] %>
    <% fa_css = case v; when NilClass then 'ban'; when TrueClass then 'check-square-o'; when FalseClass then 'square-o'; end %>
    <dt><%= t "event.#{k}" %></dt>
    <dd><i class="fa fa-<%= fa_css %>" aria-hidden="true"></i></dd>
  <% else %>
    <dt><%= t "event.#{k}" %></dt>
    <dd><%= (v.is_a? Time) ? l(v) : v.to_s.html_safe %></dd>
  <% end %>
<% end %>
</dl>
<% if @event.focus.present? %>
<hr />
<h3><i class="fa fa-arrow-right" aria-hidden="true"></i> Focus</h3>
  <%= render 'admin/focus/list', focuses: [ @event.focus ], hide_sorting_tools: true, undeletable: true %>
<% end %>
<% if @event.artists.any? %>
<hr />
<h3><i class="fa fa-arrow-right" aria-hidden="true"></i> Artistes</h3>
  <%= render 'admin/artists/list', artists: @event.artists, hide_sorting_tools: true, undeletable: true %>
<% end %>
<% if @event.partners.any? %>
<hr />
<h3><i class="fa fa-arrow-right" aria-hidden="true"></i> Partenaires</h3>
  <%= render 'admin/partners/list', partners: @event.partners, hide_sorting_tools: true, undeletable: true %>
<% end %>
