<%= simple_form_for @partner, url: url = (@partner.new_record?) ? admin_partners_path : admin_partner_path(@partner) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name  %>
    <%= f.input :resource_id, as: :select do  %>
      <select class="form-control select optional select2" data-remote="<%= api_s2_resources_path(scope: 'global') %>" name="partner[resource_id]" id="partner_resource_id">
        <%= content_tag :option, @partner.resource.name || @partner.resource.handle_identifier, {value: @partner.resource.id, selected: true, data: {img: @partner.resource.thumb_url}} if @partner.resource.present? %>
        <% end %>
      </select>
    <% end %>
    <%= f.input :notes %>
    <% if @users.present? %>
    <hr />
    <h3>Réglages</h3>
    <%= f.input :user_id, collection: @users.collect { |u| [u.real_name, u.id] }, include_blank: false %>
    <% end %>
  </div>
  <hr />
  <div class="form-actions">
    <%= link_to 'Annuler', url, class: 'btn btn-default' %>
    <%= f.button :submit, 'Enregistrer' %>
  </div>
<% end %>
