<% hide_sorting_tools ||= false; undeletable ||= false %>
<table class="<%= hide_sorting_tools ? '' : 'sortable' %>" data-order='[[3  , "desc"]]'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Image</th>
      <th>Nom</th>
      <th>Notes</th>
      <th>Création</th>
      <th>Mise à jour</th>
      <th>Utilisateur</th>
      <th data-orderable="false"></th>
    </tr>
  </thead>

  <tbody>
    <% partners.each do |partner| %>
      <tr>
        <td><span class="badge"><%= partner.id %></span></td>
        <td><% if partner.resource.present? %><span class="preview" style="background-image: url('<%= partner.resource.thumb_url if defined? partner.resource.thumb_url %>')"></span><% end %></td>
        <td><%= partner.name %></td>
        <td><%= partner.notes %></td>
        <td><%= l partner.created_at, format: :sortable %></td>
        <td><%= l partner.updated_at, format: :sortable %></td>
        <td><%= partner.user.real_name %></td>
        <td class="action">
          <%= link_to '<i class="fa fa-eye"></i>'.html_safe, admin_partner_path(partner), title: "Détails" if can? :read, partner %>
          <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_admin_partner_path(partner), title: "Éditer" if can? :edit, partner %>
          <%= link_to '<i class="fa fa-trash"></i>'.html_safe,  admin_partner_path(partner), method: :delete, data: { confirm: 'Cette action est irréversible, êtes vous sur ?' }, title: "Supprimer" if not undeletable and can? :delete, partner %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>