<h2>Page partenaire</h2>

<%= simple_form_for @partners_page, url: admin_partners_page_path, method: :patch do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <h3>Contenu</h3>
    <%= f.input :main_gallery_id, collection: Gallery.global.collect { |s| [s.name, s.id] }, include_blank: true, input_html: { multiple: false, class: "select2" }, label: t("page.main_gallery_id") if Gallery.global.size > 0  %>
    <%= content_tag :em, "Aucune galerie “Général“ n'est disponible.<br />Pour ajouter une galerie à une page, il faut au préalable la créer (choisir la catégorie “Géneral”).<br /><br />".html_safe  if Gallery.global.size == 0 %>
    <%= f.input :resource_id, as: :select, wrapper_html: { class: 'test' } do  %>
      <select class="form-control select optional select2" data-template="image" name="page[resource_id]" id="page_resource_id">
        <option value="">À défaut de galerie principale, choisir une image</option>
        <% Resource.global.each do |resource| %>
          <%= content_tag :option, resource.name || resource.handle_identifier, {value: resource.id, selected: (resource.id == @partners_page.resource_id) ? true : nil, data: {img: resource.thumb_url}} %>
        <% end %>
      </select>
    <% end %>
    <%= f.input :subtitle, label: t('page.subtitle') %>
    <hr />
    <h4>• Section 1</h4>
    <%= f.input :section_1, label: t('partners_page.title') %>
    <%= f.input :section_1_ids, collection: Partner.all.collect { |s| [s.name, s.id] }, input_html: { multiple: true, class: "select2" }, label: t('partners_page.partner_ids') %>
    <h4>• Section 2</h4>
    <%= f.input :section_2, label: t('partners_page.title') %>
    <%= f.input :section_2_ids, collection: Partner.all.collect { |s| [s.name, s.id] }, input_html: { multiple: true, class: "select2" }, label: t('partners_page.partner_ids') %>
    <h4>• Section 3</h4>
    <%= f.input :section_3, label: t('partners_page.title') %>
    <%= f.input :section_3_ids, collection: Partner.all.collect { |s| [s.name, s.id] }, input_html: { multiple: true, class: "select2" }, label: t('partners_page.partner_ids') %>
    <hr />
    <h3>Infos. complémentaires</h3>
    <%= f.input :exergue, as: :text, input_html: { data: { ckeditor: 'custom_config_exergue' }}, label: t("page.exergue") %>
    <h4>Liens Complémentaires</h4>
    <p class="help">
      <em>Pour les liens, il faut préciser le titre du lien et son objet séparé d'un “>”. Par exemple :</em>
<pre>Mentions légales > Page:4
Le menu > Fichier:8
Les news d'avril > Article:45
Une page fixe > /url-de-ma-page
La Villette > https://lavillette.com/</pre>
    </p>
    <%= f.input :aside_link_1_data, label: t("page.aside_link_1_data") %>
    <%= f.input :aside_link_2_data, label: t("page.aside_link_2_data") %>
  </div>
  <hr />
  <div class="form-actions">
    <%= link_to 'Annuler', admin_root_path, class: 'btn btn-default' %>
    <%= f.button :submit, 'Enregistrer' %>
  </div>
<% end %>
