<h2>
  <nav>
    <%= link_to '<i class="fa fa-pencil-square"></i>'.html_safe, edit_admin_article_path(@article), title: "Éditer" %>
    <%= link_to '<i class="fa fa-th-list"></i>'.html_safe, admin_articles_path, title: "Retour à la liste" %>
  </nav>
  <span class="id"><%= @article.id %></span> Page <em><%= @article.title %></em>
</h2>
<dl class="dl-horizontal borderd-list">
<% @article.attributes.each do |k,v| %>
  <% if k == 'user_id' %>
    <dt><%= t "article.#{k}" %></dt>
    <dd><%= @article.user.real_name %></dd>
  <% elsif @article.defined_enums? and k.in? @article.defined_enums %>
    <dt><%= t "article.#{k}" %></dt>
    <dd><%= t "article.#{k.pluralize}.#{v}" %></dd>
  <% else %>
    <dt><%= t "article.#{k}" %></dt>
    <dd><%= (v.is_a? Time) ? l(v) : v %></dd>
  <% end %>
<% end %>
</dl>
<% if @article.focuses.any? %>
<hr />
<h3><i class="fa fa-arrow-right" aria-hidden="true"></i> Focus</h3>
  <%= render 'admin/focus/list', focuses: @article.focuses, hide_sorting_tools: true %>
<% end %>
