<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= admin_root_path %>">Office</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li> -->
        <!-- <li><a href="#">Link</a></li> -->
        <!-- CONTENU -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Évènements & Activités <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="<%= '#' %>"><i class="fa fa-th-list"></i>Les événements</a></li>
            <li><a href="<%= admin_focus_path %>"><i class="fa fa-th-list"></i>Les focus</a></li>
            <li><a href="<%= admin_get_weezevents_path %>"><i class="fa fa-cloud-download"></i>Récupérer les nouveaux WeezEvents</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="<%= '#' %>"><i class="fa fa-plus-circle"></i>Ajouter un événement</a></li>
            <li><a href="<%= new_admin_focus_path %>"><i class="fa fa-plus-circle"></i>Ajouter un focus</a></li>
          </ul>
        </li>
        <!-- CONTENU -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contenu <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% if current_user.admin? %>
            <li><a href="<%= admin_articles_path %>"><i class="fa fa-th-list"></i>Les articles</a></li>
            <li><a href="<%= admin_pages_path %>"><i class="fa fa-th-list"></i>Les pages</a></li>
            <% end %>
            <li><a href="<%= admin_galleries_path %>"><i class="fa fa-th-list"></i>Les galeries</a></li>
            <li><a href="<%= admin_resources_path %>"><i class="fa fa-th-list"></i>Les fichiers/images</a></li>
            <li><a href="<%= admin_home_carousel_links_path %>"><i class="fa fa-pencil-square-o"></i>La Home</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="<%= new_admin_article_path %>"><i class="fa fa-plus-circle"></i>Ajouter un article</a></li>
            <li><a href="<%= new_admin_gallery_path %>"><i class="fa fa-plus-circle"></i>Ajouter une galerie</a></li>
            <li><a href="<%= new_admin_resource_path %>"><i class="fa fa-plus-circle"></i>Ajouter un fichier</a></li>
          </ul>
        </li>
        <% if current_user.admin? %>
        <!-- ADMINISTRATION -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administration <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="<%= admin_users_path %>"><i class="fa fa-th-list"></i>Les Utilisateurs</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="<%= new_admin_user_path %>"><i class="fa fa-plus-circle"></i>Ajouter un utilisateur</a></li>
          </ul>
        </li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="<%= admin_user_path(current_user) %>"><i class="fa fa-user"></i>Profil</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="<%= logout_path %>" data-turbolinks="false"><i class="fa fa-power-off"></i>Déconnexion</a></li>
          </ul>
        </li>
        <li><%= link_to '<i class="fa fa-home" aria-hidden="true"></i>'.html_safe, root_path, data: {turbolinks: false}, class: 'home', target: :_blank %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>