<% editable ||= false %>
<table class="sortable" data-order='[[0  , "asc"]]'>
  <thead>
    <tr>
      <th data-orderable="false"><i class="fa fa-list-ol"></i></th>
      <th data-orderable="false">Image</th>
      <th data-orderable="false">Titre</th>
      <th data-orderable="false">Sous-titre</th>
      <th data-orderable="false">Liens vers</th>
      <th data-orderable="false">Statut</th>
      <th data-orderable="false"></th>
      <% if editable %>
      <th data-orderable="false"></th>
      <th data-orderable="false"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% links.each do |link| %>
      <tr>
        <% if editable %>
        <td>
          <%= form_for link, url: admin_home_carousel_link_path(link) do |f| %>
            <%= f.hidden_field :id %>
            <%= f.hidden_field :form, value: 'list' %>
            <%= f.select :rank, options_for_select(1..@max_rank, link.rank), {}, { class: 'form-control select optional', data: { auto_submission: true } } %>
          <% end %>
        </td>
        <% else %>
        <td><span class="badge"><%= link.rank %></span></td>
        <% end %>
        <td><span class="preview" style="background-image: url('<%= link.final_resource.thumb_url if link.final_resource.present? %>')"></span></td>
        <td><%= link.final_title %></td>
        <td><%= link.final_subtitle %></td>
        <td><%= "#{link.home_linkable_type}:#{link.home_linkable_id}" %></td>
        <td><%= t("home_carousel_link.statuses.#{link.status}") %></td>
        <td class="action"><%= link_to '<i class="fa fa-eye"></i>'.html_safe, admin_home_carousel_link_path(link), title: "Aperçu" if can? :read, link %></td>
        <% if editable %>
        <td class="action"><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_admin_home_carousel_link_path(link), title: "Éditer" if can? :edit, link %></td>
        <td class="action"><%= link_to '<i class="fa fa-trash"></i>'.html_safe, admin_home_carousel_link_path(link), method: :delete, data: { confirm: 'Cette action est irréversible, êtes vous sur ?' }, title: "Supprimer" if can? :delete, link %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>