<h2>
  <nav>
    <%= link_to '<i class="fa fa-pencil-square"></i>'.html_safe, edit_admin_artist_path(@artist), title: "Éditer" %>
    <%= link_to '<i class="fa fa-th-list"></i>'.html_safe, admin_artists_path, title: "Retour à la liste" %>
  </nav>
  <span class="id"><%= @artist.id %></span> Artiste <em><%= @artist.name %></em>
</h2>
<dl class="dl-horizontal borderd-list">
<% @artist.attributes.each do |k,v| %>
  <% if k == 'user_id' %>
    <dt><%= t "artist.#{k}" %></dt>
    <dd><%= @artist.user.real_name %></dd>
  <% elsif @artist.defined_enums? and k.in? @artist.defined_enums %>
    <dt><%= t "artist.#{k}" %></dt>
    <dd><%= t "artist.#{k.pluralize}.#{v}" %></dd>
  <% else %>
    <dt><%= t "artist.#{k}" %></dt>
    <dd><%= (v.is_a? Time) ? l(v) : v %></dd>
  <% end %>
<% end %>
</dl>
