<%= simple_form_for @info_message, url: url = (@info_message.new_record?) ? admin_info_messages_path : admin_info_message_path(@info_message) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <h3>Contenu</h3>
    <%= f.input :title  %>
    <hr />
    <%= f.input :modal  %>
    <%= f.input :modal_content  %>
    <hr />
    <%= f.input :opening  %>
    <%= f.input :opening_content, hint: "L'<strong>HTML</strong> est possible pour mieux gérer la mise en forme , par exemple :<br /><code>".html_safe + "OUVERT <i>Aujourd’hui</i><br /><br />12H00<br />-<br>00H00" + "</code>".html_safe %>
    <hr />
    <h3>Réglages</h3>
    <%= f.input :start_at  %>
    <%= f.input :end_at  %>
    <%= f.input :status, collection: InfoMessage.statuses.collect { |s| [t("info_message.statuses.#{s.first}"), s.first] }, include_blank: false %>
  </div>
  <hr />
  <div class="form-actions">
    <%= link_to 'Annuler', url, class: 'btn btn-default' %>
    <%= f.button :submit, 'Enregistrer' %>
  </div>
<% end %>
