<a class="event_card <%= event.category %><%= " focused" if event.focus.present? and event.focus = @focus %>"href="<%= event.slug %>">
    <div class="image" style="background-image: url('<%= event.main_picture.url %>')" ></div>
    <div class="content">
        <%= content_tag :span, "Focus", class: 'focus' if event.focus.present? and event.focus = @focus %>
        <div>
            <%= content_tag :span, "##{event.topic}" if event.topic.present? %>
            <h3><%= event.title %></h3>
            <p>
                <strong><%= event.display_date if event.display_date.present? %></strong>
                <span class="place"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= t("event.places.#{event.place}") %></span>
            </p>
        </div>
    </div>
</a>