<section>
    <div class="container header">
        <div class="filters categories">
        <% @categories.each do |category| %>
            <button data-category="<%= category %>" class="<%= category %><%= " active" if category.in? @active_categories %>"><%= t "event.categories.#{category}" %></button>
        <% end %>
        </div>
        <% if @focus.present? %>
        <div class="filters focus">
            <button data-focus="<%= @focus.id %>" class="<%= "active" if @active_focus %>"><span class="focus">F</span>ocus du moment</button>
            <p>
                <%= @focus.title %>
                <%= link_to "+ d'info", @focus.article.slug if @focus.article.visible? %>
            </p>
        </div>
        <% end %>
    </div>
    <div class="container events">
    <% if @events.any? %>
        <div class="large-row">
        <% @events.each do |event| %>
            <%= render 'wrapped_event_card', event: event %>
        <% end %>
        </div>
    <% else %>
        <p>Les évènements sont en cours de saisie. Revenez très vite !</p>
    <% end %>
    </div>
</section>
