<section>
    <div class="container header">
        <div class="filters categories all-active">
        <% @categories.each do |category| %>
            <button data-filter="category" data-category="<%= category %>" data-target="#is_container" class="<%= category %><%= " active" if false and category.in? @active_categories %>"><%= t "event.categories.#{category}" %></button>
        <% end %>
        </div>
        <% if @focus.present? %>
        <div class="filters focus">
            <button data-filter="focus" data-focus="<%= @focus.id %>" data-target="#is_container" class="<%= "active" if @active_focus %>"><span class="focus">F</span>ocus<%= " du moment" if @focus.current? %></button>
            <p>
                <%= @focus.title %>
                <%= link_to "+ d'info", @focus.article.slug if @focus.article.present? and @focus.article.visible? %>
            </p>
        </div>
        <% end %>
        <div class="filters months">
            <div id="month_selector" class="<%= 'active' if @month > 0 %>" data-value="<%= @month %>" data-options="<%= @months_list %>">
                <button<%= ' disabled="disabled"'.html_safe if @month < 1 %> data-filter="month" data-month="-1" data-target="#is_container" class="previous"><i class="fa fa-caret-left" aria-hidden="true"></i></button>
                <button<%= ' disabled="disabled"'.html_safe if @month >= @months_list.size + 1 %> data-filter="month" data-month="+1" data-target="#is_container" class="next"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
                <span class="display"><%= @months_list[@month] %></span>
            </div>
        </div>
    </div>
    <div class="container events">
        <div id="is_container" class="large-row" data-api="<%= api_events_path %>" data-limit="<%= @limit %>" data-count="<%= @events_count %>">
        <% if @events.any? %>
            <% @events.each do |event| %>
            <%= render 'wrapped_event_card', event: event %>
            <% end %>
        <% else %>
            <p class="no-event-message">
                <span>Aucun événement prévu pour le moment, revenez bientôt !</span>
            </p>
        <% end %>
        </div>
    </div>
</section>
