<header>
    <%= render_header @event %>
</header>
<article>
    <h2>
        <div class="container">
            <div>
                <%= link_to "Focus", @event.focus.article.slug, class: 'focus' if @event.focus.present? and @event.focus.article.present? %>
                <%= content_tag :span, "##{@event.topic}" if @event.topic.present? %>
            </div>
            <%= @event.title %>
            <%= content_tag :small, @event.subtitle if @event.subtitle.present? %>
        </div>
    </h2>
    <aside>
        <div>
            <% if @event.exergue.present? %>
            <div class="exergue_edited">
                <%= @event.exergue.html_safe %>
            </div>
            <% end %>
            <% if @event.weez_event.present? or @event.aside_link_1_data.present? or @event.aside_link_2_data.present? %>
            <nav>
                <%= link_to "Réserver", "#reservation" if @event.weez_event.present? %>
                <%= link_from @event.aside_link_1_data if @event.aside_link_1_data.present? %>
                <%= link_from @event.aside_link_2_data if @event.aside_link_2_data.present? %>
            </nav>
            <% end %>
            <% if @event.social_block.present? or @event.event_link_data.present? or @event.info_link_data.present? %>
            <ul class="infos">
                <% if @event.social_block.present? %>
                <li><a data-popup="LeHasardLudique_Share_connection/550/450" class="fbk" href="<%= @event.facebook_url %>" target="_blank">partager</a></li>
                <li><a data-popup="LeHasardLudique_Share_connection/550/450" class="twt" href="<%= @event.twitter_url %>" target="_blank">partager</a></li>
                <% end %>
                <% if @event.event_link_data.present? %>
                <li><%= link_from @event.event_link_data, 'evt' %></li>
                <% end %>
                <% if @event.info_link_data.present? %>
                <li><%= link_from @event.info_link_data, 'inf' %></li>
                <% end %>
            </ul>
            <% end %>
        </div>
    </aside>
    <section class="content">
        <div class="container page_edited">
            <%= @event.content.html_safe %>
        </div>
    </section>
    <% if @event.final_gallery.present? %>
    <section class="gray">
        <div class="container">
            <h3><%= @event.final_gallery.name %></h3>
            <%= render_gallery @event.final_gallery%>
        </div>
    </section>
    <% end %>
    <% if @event.artists.any? %>
    <section id="artists" class="more">
        <%= render 'artists/list', artists: @event.artists %>
    </section>
    <% end %>
    <% if @event.weez_event.present? %>
    <section id="reservation" class="more">
        <div class="container">
            <h3>Réservation</h3>
            <iframe src="<%= @event.booking_iframe_url %>"></iframe>
        </div>
    </section>
    <% end %>
    <% if @event.partners.any? %>
    <section id="partners" class="more">
        <div class="container">
            <h3>Partenaires</h3>
            <ul>
            <% @event.partners.each do |partner| %>
                <li title="<%= partner.name %>" style="background-image: url('<%= partner.resource.url %>')"></li>
            <% end %>
            </ul>
        </div>
    </section>
    <% end %>
</article>