<header>
    <div id="main-gallery" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <% if @news.size > 1 %>
      <ol class="carousel-indicators">
        <% (0..(@news.size - 1)).each do |i| %>
        <li data-target="#main-gallery" data-slide-to="<%= i %>"<%= ' class="active"'.html_safe if i == 0 %>></li>
        <% end %>
      </ol>
      <% end %>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <% @news.each_with_index do |news, i| %>
        <a href="<%= news.slug %>" class="item<%= ' active' if i == 0 %>">
            <div class="image" style="background-image: url('<%= news.main_picture.url %>')">
            </div>
            <div class="title">
                <%= content_tag :h2, "<span>#{news.title}</span>".html_safe if news.title.present? %>
                <%= content_tag :h3, "<span>#{news.subtitle}</span>".html_safe if news.subtitle.present? %>
            </div>
        </a>
        <% end %>
      </div>
    </div>
</header>