<header>
    <%= render_header @page %>
</header>
<article>
    <h2>
        <div class="container">
            <%= @page.title %>
            <%= content_tag :small, @page.subtitle if @page.subtitle %>
        </div>
    </h2>
    <aside>
        <div>
            <% if @page.exergue.present? %>
            <div class="exergue_edited">
                <%= @page.exergue.html_safe %>
            </div>
            <% end %>
            <% if @page.aside_link_1_data.present? or @page.aside_link_2_data.present? or @page.aside_link_3_data.present? %>
            <nav>
                <%= link_from @page.aside_link_1_data if @page.aside_link_1_data.present? %>
                <%= link_from @page.aside_link_2_data if @page.aside_link_2_data.present? %>
                <%= link_from @page.aside_link_3_data if @page.aside_link_3_data.present? %>
            </nav>
            <% end %>
        </div>
    </aside>
    <section class="content">
        <div class="container page_edited">
            <%= @page.content.html_safe %>
        </div>
    </section>
    <% if @page.final_gallery.present? %>
    <section class="gallery">
        Ici la galerie <%= @page.gallery.name %>
    </section>
    <% end %>
</article>