<header>
    <%= render_header @page %>
</header>
<article>
    <h2>
        <div class="container">
            <%= @page.title %>
            <%= content_tag :small, @page.subtitle if @page.subtitle %>
        </div>
    </h2>
    <aside>
        <div>
            <% if @page.exergue.present? %>
            <div class="exergue_edited">
                <%= @page.exergue.html_safe %>
            </div>
            <% end %>
            <% if @page.aside_link_1_data.present? or @page.aside_link_2_data.present? or @page.aside_link_3_data.present? %>
            <nav>
                <%= link_from @page.aside_link_1_data if @page.aside_link_1_data.present? %>
                <%= link_from @page.aside_link_2_data if @page.aside_link_2_data.present? %>
                <%= link_from @page.aside_link_3_data if @page.aside_link_3_data.present? %>
            </nav>
            <% end %>
            <% if @page.social_block.present? or @page.event_link_data.present? or @page.info_link_data.present? %>
            <ul class="infos">
                <% if @page.social_block.present? %>
                <li><a data-popup="LeHasardLudique_Share_connection/550/450" class="fbk" href="<%= @page.facebook_url %>" target="_blank">partager</a></li>
                <li><a data-popup="LeHasardLudique_Share_connection/550/450" class="twt" href="<%= @page.twitter_url %>" target="_blank">partager</a></li>
                <% end %>
                <% if @page.event_link_data.present? %>
                <li><%= link_from @page.event_link_data, 'evt' %></li>
                <% end %>
                <% if @page.info_link_data.present? %>
                <li><%= link_from @page.info_link_data, 'inf' %></li>
                <% end %>
            </ul>
            <% end %>
        </div>
    </aside>
    <section class="content">
        <div class="container page_edited">
            <%= @page.content.html_safe %>
        </div>
    </section>
    <% if @page.final_gallery.present? %>
    <section class="gray">
        <div class="container">
            <h3><%= @page.final_gallery.name %></h3>
            <%= render_gallery @page.final_gallery%>
        </div>
    </section>
    <% end %>
</article>