<%= simple_form_for @resource, url: (@resource.new_record?) ? admin_resources_path : admin_resource_path(@resource) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_id, collection: @users.collect { |u| [u.real_name, u.id] }, include_blank: false if @users.present? %>
    <%= f.input :name %>
    <%= f.input :notes %>
    <%= f.input :category, collection: Resource.categories.collect { |s| [t("resource.categories.#{s.first}"), s.first] }, include_blank: false %>
    <%= f.input :handle, required: @resource.new_record? ? true : false %>
  </div>

  <div class="form-actions">
    <%= link_to 'Annuler', admin_resources_path, class: 'btn btn-default' %>
    <%= f.button :submit, 'Enregistrer' %>
  </div>
<% end %>
