<table class="sortable" data-order='[[3  , "desc"]]'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Aperu</th>
      <th>Nom/Légende</th>
      <th>Fichier</th>
      <th>Url</th>
      <th>Date d'ajout</th>
      <th>Catégorie</th>
      <th>Notes</th>
      <th>Utilisateur</th>
      <th data-orderable="false"></th>
      <th data-orderable="false"></th>
      <th data-orderable="false"></th>
    </tr>
  </thead>

  <tbody>
    <% resources.each do |r| %>
      <tr>
        <td><span class="badge"><%= r.id %></span></td>
        <td>
        <% if can? :read, r %>
          <a href="<%= admin_resource_path(r) %>"><span class="preview" style="background-image: url('<%= r.thumb_url %>')"></span></a>
        <% else %>
          <span class="preview" style="background-image: url('<%= r.thumb_url %>')"></span>
        <% end %>
        </td>
        <td><%= r.name %></td>
        <td><%= r.handle_identifier %></td>
        <td><%= r.url %></td>
        <td><%= l r.created_at, format: :sortable %></td>
        <td><%= t("resource.categories.#{r.category}") %></td>
        <td><%= r.notes %></td>
        <td><%= r.user.real_name %></td>
        <td class="action"><%= link_to '<i class="fa fa-eye"></i>'.html_safe, admin_resource_path(r), title: "Voir" if can? :read, r %></td>
        <td class="action"><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_admin_resource_path(r), title: "Éditer" if can? :edit, r %></td>
        <td class="action"><%= link_to '<i class="fa fa-trash"></i>'.html_safe, admin_resource_path(r), method: :delete, data: { confirm: 'Cette action est irréversible, êtes vous sur ?' }, title: "Supprimer" if can? :delete, r %></td>
      </tr>
    <% end %>
  </tbody>
</table>