<header>
    <%= render_header @festival %>
</header>
<article>
    <h2>
        <div class="container">
            <div>
                <%= content_tag :span, "##{@festival.topic}" if @festival.topic.present? %>
            </div>
            <%= @festival.title %>
            <%= content_tag :small, @festival.subtitle if @festival.subtitle %>
        </div>
    </h2>
    <aside>
        <div>
            <% if @festival.exergue.present? %>
            <div class="exergue_edited">    
                <%= @festival.exergue.html_safe %>
            </div>
            <% end %>
            <% if @festival.weez_event.present? or @festival.aside_link_1_data.present? or @festival.aside_link_2_data.present? %>
            <nav>
                <%= link_to "Réserver", "#reservation" if @festival.weez_event.present? %>
                <%= link_from @festival.aside_link_1_data if @festival.aside_link_1_data.present? %>
                <%= link_from @festival.aside_link_2_data if @festival.aside_link_2_data.present? %>
            </nav>
            <% end %>
            <% if @festival.social_block.present? or @festival.event_link_data.present? or @festival.info_link_data.present? %>
            <ul class="infos">
                <% if @festival.social_block.present? %>
                <li><a data-popup="LeHasardLudique_Share_connection/550/450" class="fbk" href="<%= @festival.facebook_url %>" target="_blank">partager</a></li>
                <li><a data-popup="LeHasardLudique_Share_connection/550/450" class="twt" href="<%= @festival.twitter_url %>" target="_blank">partager</a></li>
                <% end %>
                <% if @festival.event_link_data.present? %>
                <li><%= link_from @festival.event_link_data, 'evt' %></li>
                <% end %>
                <% if @festival.info_link_data.present? %>
                <li><%= link_from @festival.info_link_data, 'inf' %></li>
                <% end %>
            </ul>
            <% end %>
        </div>
    </aside>
    <section class="content">
        <div class="container page_edited">
            <%= @festival.content.html_safe %>
        </div>
    </section>
    <% if @festival.events.all_kinds.visible.any? %>
    <section id="events">
        <% if @festival.events.visible.any? %>
        <h3>
            <div class="container">Évènements</div>
        </h3>
        <div class="container">
            <div class="large-row">
            <% @festival.events.visible.each do |event| %>
            <%= render 'events/wrapped_in_page_event_card', event: event %>
            <% end %>
            </div>
        </div>
        <% end %>
        <% if @festival.events.workshop.visible.any? %>
        <h3>
            <div class="container">Activités</div>
        </h3>
        <div class="container">
            <div class="large-row">
            <% @festival.events.workshop.visible.each do |event| %>
            <%= render 'events/wrapped_in_page_event_card', event: event %>
            <% end %>
            </div>
        </div>
        <% end %>
    <% end %>
    </section>
    <% if @festival.final_gallery.present? %>
    <section class="gray">
        <div class="container">
            <h3><%= @festival.final_gallery.name %></h3>
            <%= render_gallery @festival.final_gallery%>
        </div>
    </section>
    <% end %>
    <% if @festival.weez_event.present? %>
    <section id="reservation" class="more">
        <div class="container">
            <h3>Réservation</h3>
            <iframe src="<%= @festival.booking_iframe_url %>"></iframe>
        </div>
    </section>
    <% end %>
    <% if @festival.partners.any? %>
    <section id="partners" class="more">
        <div class="container">
            <h3>Partenaires</h3>
            <ul>
            <% @festival.partners.each do |partner| %>
                <li title="<%= partner.name %>" style="background-image: url('<%= partner.resource.url %>')"></li>
            <% end %>
            </ul>
        </div>
    </section>
    <% end %>
</article>