<!DOCTYPE html>
<html>
<head>
<title><%= meta_title %></title>
<%= csrf_meta_tags %>
<%= render_meta_og if @og %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', media: 'all' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body<%= body_classes %>>
<div class="turbolinks-progress-bar"></div>
<% if flash.any? %>
<div id="flash">
<% flash.each do |message| %>
    <p class="<%= message.first %>"><%= message.last.html_safe %></p>
<% end %>
</div>
<% end %>
<%= render 'layouts/menu' unless @no_menu %>
<%= yield %>
<%= render 'layouts/footer' unless @no_footer %>
<% if @info_modal.present? %>
<!-- Modal -->
<div class="modal fade padded open" id="InfoMessage" tabindex="-1" role="dialog" aria-labelledby="InfoMessageLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
        <h4 class="modal-title" id="InfoMessageLabel"><%= @info_modal.title || "Oyé ! Oyé !" %></h4>
      </div>
      <div class="modal-body">
        <%= simple_format @info_modal.modal_content if @info_modal.modal_content.present? %>
      </div>
    </div>
  </div>
</div>
<% elsif @newletter_modal.present? %>
<!-- Modal -->
<div class="modal fade padded open" id="NewsLetterInvitation" tabindex="-1" role="dialog" aria-labelledby="NewsLetterInvitationLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
        <h4 class="modal-title" id="NewsLetterInvitationLabel">Inscrivez-vous à notre newsletter !</h4>
      </div>
      <div class="modal-body">
        <p>Renseignez vos centres d'intérêt pour des messages 100% personnalisés...<br /><br /></p>
        <%= link_to "S'abonner", "http://lehasardludique.us6.list-manage1.com/subscribe?u=b3a692d96340f437820c48197&id=f48e82baf0", target: :_blank, class: 'btn yellow-mask' %>
      </div>
    </div>
  </div>
</div>
<% end %>
<% if Rails.env.production? and ENV['GA_UID'] %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', '<%= ENV['GA_UID'] %>', 'auto');

  if (Turbolinks.supported) $(document).on('turbolinks:load', function() {
    ga('send', 'pageview', window.location.pathname);
  });
  else ga('send', 'pageview');

</script>
<% end %>
<% if Rails.env.production? %>
<div class="klox">
    <%= image_tag "https://secure.adnxs.com/seg?add=#{@retargeting_pixel_id}&t=2".html_safe, alt: nil if @retargeting_pixel_id.present? %>
</div>
<% end %>
</body>
</html>
